<div class="row"> 
  <div class="col-md-10 col-md-offset-1">
    <app-enrollee-edit></app-enrollee-edit>
    <hr>  
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let enrollee of enrollees | paginate: {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
          "
        (click)="onEditItem(i)"
        [ngStyle]="{color: getColor(enrollee)}"
        [class.active]="i == currentIndex"
          >
        <th scope="row">{{enrollee.id}}</th>
        <td>{{enrollee.name}}</td>
        <td>{{enrollee.dateOfBirth}}</td>
        <td>{{enrollee.active | status }}</td>
      </tr>
    </tbody>
   </table>
  </div> 
  <div class="col-md-12 col-md-offset-4">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      responsive="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>    
  <div class="col-md-6 col-md-offset-1">
     Page Size:
    <select (change)="handlePageSizeChange($event)">
      <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </div>  
</div>
